/*
 Paleta de cores 
 Roxo claro: #A424AF
 Roxo medio: #450371
 Roxo escuro: #150124
 */


 @media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #8f11ca 0%,  #21D4FD 100%);
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#imagem {
        float: right;
        width: 30%;
        height: 100%;
    }

    div#formulario p {
        font-size: 0.8em;
        margin-bottom: 15px;
    }

    .material-icons {
        color: #8800e2;
        margin-left: 50px;
        transform: translateY(5px);
    }

    .campo input {
        background-color: #ededed;
        font-size: 1em;
        border: 1px solid #8800e2;
        width: 300px;
        border-radius: 2px;
        margin-bottom: 10px;
        padding: 5px;
    }
 }

 @media screen and (min-width: 992px) {
    
    body {
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #8f11ca 0%,  #21D4FD 100%);
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
    }

    div#formulario p {
        font-size: 1em;
        margin: 20px 0px;
    }

    .material-icons {
        color: #8800e2;
        margin-left: 10px;
        transform: translateY(5px);
    }

    .campo input {
        background-color: #ededed;
        font-size: 1em;
        border: 1px solid #8800e2;
        width: 300px;
        border-radius: 2px;
        margin-bottom: 10px;
        padding: 5px;
    }
 }